 
.row-header{
  margin:0px auto;
  padding:0px auto;
}
.bo{
 
  background-color: #ffffdd;

}

.navbar-dark {
  
  background-color: #006a71;
}

.footer{
  
  background-color: #d3dbff;

}

.hello{
background-image: linear-gradient(to right,rgb(238, 197, 197),rgba(106, 181, 185, 0.562));
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}


.jumbotron {
  display: flex;
  align-items: center;
  height: 450px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/buildawebsite.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron h2 {
  background-color: #FFFFFF;
  display: inline-block;
  color: #F06529;
  font-weight: 700;
  padding: 10px 35px;
}

.jumbotron h3 {
  color: #FFFFFF;
  font-weight: bold;
}
section.container .row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}



.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}

.card:hover{
  -webkit-box-shadow: 33px 32px 21px 0px rgba(0,0,0,0.39);
  -moz-box-shadow: 33px 32px 21px 0px rgba(0,0,0,0.39);
  box-shadow: 33px 32px 21px 0px rgba(0,0,0,0.39);
}

.card {
  
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s;
  will-change: transform;
  border: 15px solid white;
}

.sks{

  padding: 10px;
}